/** Estilos del contenido */

.información{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/img-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.información__contenido{
    width: 70%;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.información__titulo{
    font-size: 45px;
    font-weight: 900;
    color: var(--orange);
    text-align: center;
}

.información__p{
    font-size: 20px;
    font-weight: normal;
    color: var(--white);
    margin-top: 25px;
    text-align: center;
}

.información__a{
    background: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 25px;
}





.contenedor{
    width: 90%;
    margin: auto;
}

.contenedor__input[type="radio"]{
    display: none;
}

.contenedor__categorías{
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contenedor__label{
    padding: 6px 40px;
    font-size: 20px;
    background: #F27405;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
}

.contenedor__label:hover{
    opacity: 0.8;
}

.artículos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.article{
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px -20px #000;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.article:hover{
    transition: all 0.5s;
    box-shadow: 0 0 20px -10px #000;
}

.article__img{
    width: 100%;
}

.article__img-dimensión{
    width: 100%;
}

.article__h2{
    font-size: 18px;
    margin-top: 15px;
    padding: 0 20px;
    color: var(--orange);    
}

.article__span{
    display: block;
    margin-top: 15px;
    padding: 0 20px;
}

.article__list{
    padding: 0 20px;
    margin-top: 15px;
}

.lists__li{
    margin-bottom: 10px;
}

.lists__tachado{
    text-decoration: line-through;
}

.article__enlace{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__a{
    background: var(--orange);
    padding: 8px 20px;
    border-radius: 8px;
    color: var(--white);
}

.article__a:hover{
    opacity: 0.8;
}

/** Filtrando los elementos */
[value="TODOS"]:checked ~ .article[data-category="TODOS"]{
    display: block;
}
[value="CALENTADORES"]:checked ~ .artículos .article:not([data-category="CALENTADORES"]){
    display: none;
}
[value="BOMBAS"]:checked ~ .artículos .article:not([data-category="BOMBAS"]){
    display: none;
}

[value="TODOS"]:checked ~ .contenedor__categorías[for="TODOS"],
[value="CALENTADORES"]:checked ~ .contenedor__categorías[for="CALENTADORES"],
[value="BOMBAS"]:checked ~ .contenedor__categorías[for="BOMBAS"]{
    background: #1239A5;
    color: #fff;
}

@media screen and (max-width:900px) {
    .artículos{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:610px) {
    .artículos{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:400px) {
    .contenedor__label{
        padding: 4px 18px;
        font-size: 16px;
        background: #F27405;
        border-radius: 7px;
        color: #fff;
        cursor: pointer;
    }   
}