/** Estilos menu de navegación */

.header{
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75); 
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.menu__logo{
    margin-left: 40px;
}

.menu__imagen-logo{
    width: 150px;
    height: 100%;
    object-fit: contain;
    display: flex;
}

.lists{
    padding-right: 40px;
}

.lists__ul{
    display: flex;
    list-style: none;
}

.lists__enlaces{
    text-decoration: none;
    margin: 0 10px;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
}

.lists__enlaces:hover{
    background: var(--orange);
    color: var(--white);
}

.lists__a{
    background: var(--orange);
    color: var(--white);
}

#check{
    display: none;
}

.menu__hamburguesa{
    font-size: 25px;
    color: #000;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    width: 48px;
    height: 48px;
}