:root{
    --orange: #F27405;
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f5f2f296;
}

/** Contenido de la pagina */
.contenido{
    width: 80%;
    height: 100%;
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contenido__empresa{
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.contenido__titulo{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-weight:600;
    color: #F27405;
}

.contenido__titulo-span{
    font-weight: 900;
    border-bottom: 3px solid var(--orange);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--white);
}

.about__somos{
    font-size: 45px;
    border-bottom: 4px solid var(--orange);
    font-weight: 900;
    margin-top: 40px;
}

.about__descripción{
    width: 70%;
}

.about__texto{
    font-size: 20px;
    letter-spacing: 0.9px;
    text-align: justify;
    font-weight: normal;
    color: #4e4c4c;
    margin: 40px 0;
}

.about__span{
    font-weight: bold;
    color: #252850;
}

.about__logo{
    width: 70%;
    height: 100%;
    text-align: center;
    margin: 50px 0;
}

.objetivo{
    width: 70%;
}

.objetivo__titulo{
    display: inline-block;
    font-size: 30px;
    color: #252850;
    font-weight: 900;
    letter-spacing: 0.7px;
    margin: 20px 0;
}

.objetivo__descripción{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
}
/** Contenido de la página */


/** Responsive design */
@media screen and (max-width: 850px){
    .menu__hamburguesa{
        display: block;
    }

    #check:checked ~ .lists__ul{
        display: block;
        height: 100vh;
    }

    .fa-times{
        color: var(--orange);
    }
    
    .menu__hamburguesa{
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .lists{
        width: 100%;
    }

    .lists__ul{
        display: none;
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        transition: all 0.9s;
    }

    .lists__enlaces{
        color: var(--white);
        line-height: 70px;
        margin: 50px 0;
        transition: all 0.5s;
        background: none;
        text-transform: uppercase;
    }

    .lists__enlaces:hover{
        color: var(--orange);
        background: none;
    }

    .about__logo{
        width: 350px;
        height: 250px;
        margin: 50px auto;
        overflow: hidden;
    }

    .about__img{
        width: 100%;
        height: 100%;
    }

    .footer__contenedor{
        flex-direction: column;
        width: 100%;
    }

    .footer__contacto{
        width: 70%;
        margin: auto;
        padding: 20px;
    }
}

@media screen and (max-width: 550px) {
    .créditos{
        
        flex-direction: column;
    }

    .créditos__nombres{
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    .contenido__titulo{
        font-size: 30px;
    }

    .about__somos{
        font-size: 30px;
    }

    .about__texto{
        font-size: 15px;
    }

    .objetivo__titulo{
        font-size: 30px;
    }

    .objetivo__descripción{
        font-size: 15px;
    }

    .footer__h4{
        font-size: 18px;
    }

    .footer__p{
        font-size: 15px;
    }

    .créditos__nombres{
        font-size: 15px;
        padding-bottom: 20px;
    }
}